python-socketio==5.7.2
aiohttp==3.8.4
pigpio==1.78
loguru
board
lgpio
wheel
adafruit-circuitpython-pca9685
adafruit-circuitpython-busdevice
adafruit-circuitpython-register
adafruit-circuitpython-motor
adafruit-circuitpython-ads1x15